@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    line-height: 1.4;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}

section {
    scroll-margin-top: 50px;
}

header {
    background-color: #0089b7;
    position: sticky;
    top: 0;
    z-index: 100;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h3 {
    font-size: 32px;
    font-weight: 800;
    color: #fff;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 30px;
    align-items: center;
}

nav ul li a {
    text-decoration: none;
    font-size: 22px;
    color: #fff;
    font-weight: 600;
}

nav ul li a:hover {
    border-bottom: 3px solid yellow;
    color: #fff;
}

#home {
    background-color: #003d62;
    min-height: 100vh;
    border-bottom: 0.4rem solid #0089b7;
}

#home .container {
    width: 1300px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 40px;
    justify-content: space-around;
    padding-top: 80px;
}

.img-container img {
    height: 450px;
    width: 400px;
    border-radius: 50%;
    overflow: hidden;
}

.txt-container {
    display: flex;
    flex-direction: column;
    color: #fff;
    letter-spacing: 2.5px;
    align-items: center;
}

.txt-container h2 {
    font-size: 62px;

}

.txt-container .hi {
    color: yellow;
    font-size: 68px;
}

.txt-container .iam {
    color: #fff;
    font-size: 32px;
}

.txt-container h3 {
    font-size: 42px;
    text-align: center;
    animation: typing 5s steps(40, end), blink-caret 0.75s step-end infinite;
    white-space: nowrap;
    overflow: hidden;
    border-right: 0.15em solid orange;
    font-weight: bold;
    margin: 0 auto;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color: yellow;
    }
}

.card img {
    height: 300px;
    width: 350px;
}

#project {
    background: #003251;
    padding-bottom: 30px;
}

#project h2 {
    font-size: 4.5rem;
    text-align: center;
    padding: 2rem 0;
    color: #fff;
}

.project-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 2rem;
}

.grid-item {
    display: grid;
    place-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    overflow: hidden;
    transition: 0.2s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
    transition: 1s ease-in-out;
}

.card:hover img {
    transform: scale(1.05);
    transition: 0.3s ease-in-out;
    opacity: 0.8;
}

.card:hover .card-content {
    background: white;
    color: #003d62;
    transform: translateY(0px);
}

.card a{
    text-decoration: none;
    color: #111;
}

.card-content {
    padding: 2.5rem;
    position: relative;
    top: -6.5rem;
    margin-bottom: -6.5rem;
    transition: 0.5s ease-in-out;
    transform: translateY(100px);
}

.card-content h3 {
    text-align: center;
    color: #111;
    font-weight: 700;
}

#contact {
    background: #003d62;
    color: #fff;
}

#contact h2 {
    font-size: 6rem;
    text-align: center;
    margin: 2rem 0;
}

#contact .container {
    height: 95vh;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    justify-content: center;
}

.top-contact {
    max-width: 800px;
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    gap: 20px;
}

.contact-way {
    display: flex;
    gap: 0.5rem;
    align-items: center;

}

.contact-way i {
    font-size: 2rem;
}

.contact-way h3 {
    font-size: 2rem;
    font-weight: bold;
}

.bottom-contact {
    max-width: 500px;
    gap: 2rem;
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
}

footer {
    background: #003251;
    padding: 2rem;
    color: white;
    font-size: 1.6rem;
    text-align: center;
    font-weight: 700;
}

@media (max-width: 786px) {
    html {
        font-size: 40%;
    }

    body {
        max-width: 1200px;
    }

    nav {
        flex-direction: column;
        gap: 20px;
    }

    nav ul {
        flex-direction: column;
        gap: 20px;
    }

    .hero-content {
        display: flex;
        flex-direction: column;
    }


    .txt-container {
        display: none;
    }

    .img-container img {
        height: 200px;
        width: 200px;
        align-items: start;
    }



    #contact .container {
        height: 70vh;
    }
}

@media (max-width: 500px) {
    html {
        font-size: 32%;
    }

    #contact .container {
        height: 50vh;
    }
}