* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.2;
    scroll-behavior: smooth;
}

header{
    position: sticky;
    z-index: 100;
    top: 0;
    background: #fff;
}

.container {
    display: flex;
}

.thumbnail img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    background-color: #fff;
}

.center-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

.search {
    display: flex;
    gap: 5px;
}

.search button {
    border: 1px solid black;
    border-radius: 10px;
}

.search input {
    min-width: 500px;
    padding-left: 10px;
    border: 2px solid #111;
    border-radius: 10px;
}

.mic {
    margin-left: 15px;
    display: grid;
    place-items: center;
    background: #ccc;
    border-radius: 50%;
    padding: 10px;
}

.mic img {
    width: 20px;
}

.side-nav {
    display: flex;
    margin-left: 0px;
    gap: 15px;
    background-color: #fff;
    align-items: center;
}

aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    position: fixed;
    background-color: #fff;
}

.side-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 10px;
}

.side-icons p {
    font-size: 12px;
    margin-top: -5px;
}

.bars {
    margin-top: 25px;
}

.tags {
    display: flex;
    color: black;
    gap: 20px;
    padding: 10px 20px;
}

.tag {
    border: 0.5px solid #ccc;
    border-radius: 30px;
    padding: 5px 15px;
}

.dark {
    background-color: #ccc;
}

.main-container {
    width: 100%;
    margin-left: 80px;
}

main {
    background-color: #fff;
    min-height: 100vh;
}

.thumb-img {
    height: 200px;
    width: 330px;
}

.avatar-img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.card-container {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.card {
    padding: 10px;
    max-width: 360px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.avatar-content {
    display: flex;
    gap: 10px;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.content-status {
    display: flex;
    gap: 20px;
}


@media(max-width:786px) {

    .search input {
        min-width: 200px;
        padding-left: 10px;
        border: 2px solid #111;
        border-radius: 10px;
    }

    .card-container {
        padding: 20px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 20px;
    }
    
    .card {
        padding: 10px;
        min-width: 360px;
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: start;
    }
    
    .avatar-content {
        display: flex;
        gap: 10px;
        justify-content: space-between;
        width: 100%;
    }
    
    .content {
        display: flex;
       justify-content: space-between;
        gap: 5px;
        width: 700px;
    }
    
    .content-status {
        display: flex;
        gap: 20px;
    }
    
}